<div class="wrapper">
  <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
      [fromRoot]="true"
      [infiniteScrollContainer]="'.wrapper'"
  >
    <mat-list role="list" *ngIf="repos.length">
      <mat-list-item *ngFor="let repo of repos" class="repo">
        <h3 matLine> {{repo.full_name}} </h3>
        <p matLine>
          <span> {{repo.language}} </span>
          <ng-container *ngIf="repo.language && repo.description">
            <span>--</span>
          </ng-container>
          <span> {{repo.description}} </span>
        </p>
        <ng-container *ngIf="repo.private">
          <mat-icon>lock</mat-icon>
        </ng-container>
        <mat-icon>stars</mat-icon>
        <div class="stargazers-count">{{repo.stargazers_count}}</div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
